.btn {
  display: inline-block;
  width: 220px;
  background: linear-gradient(270deg, #00b38e 28.76%, #01ffcd 100%);
  border-radius: 20px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
}

.login-btn {
  display: inline-block;
  width: 100px;
  background: linear-gradient(270deg, #00b38e 28.76%, #01ffcd 100%);
  border-radius: 20px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
}

.login-btn:hover {
  opacity: 0.7;
}

.update-btn {
  display: inline-block;
  width: 150px;
  background: linear-gradient(270deg, #00b38e 28.76%, #01ffcd 100%);
  border-radius: 20px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
  margin-right: 10px;
}

.delete-btn {
  display: inline-block;
  width: 150px;
  background: linear-gradient(270deg, #b30000 28.76%, #ff0101 100%);
  border-radius: 20px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
}

.btn:hover,
.delete-btn:hover,
.update-btn:hover {
  opacity: 0.7;
}

.btn-container {
  margin: 0 auto;
  background-color: #00b38f83;
  padding: 10px;
  width: 90%;
  display: flex;
  /* justify-content: center; */
  margin-bottom: 10px;
  text-align: left;
}

.btn-logout {
  display: inline-block;
  width: 100px;
  background-color: #ff7745;
  border-radius: 20px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px 10px;
  text-decoration: none;
  margin-left: 10px;
}

.btn-logout:hover{
  opacity: 0.7;
}

.btn-container-login {
  margin: 0 auto;
  text-align: center;
  padding: 0.5em;
}

.btn-container-user {
  margin: 0 auto;
  padding: 5px;
  display: flex;
  margin-bottom: 10px;
  text-align: left;
}

.option-btn {
  background-color: rgba(245, 245, 220, 0);
  outline: none;
  border-color: rgba(245, 245, 220, 0);
  font-size: 0.8em;
  color: #fff;
  margin-left: 25px;
  margin-right: 25px;
}

.customer-btn {
  display: inline-block;
  width: 100px;
  background: linear-gradient(270deg, #0c0c0c 28.76%, #282828 100%);
  border-radius: 20px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
  margin-right: 10px;
}

.customer-btn:hover {
  opacity: 0.9;
}

.search-bike-btn {
  display: inline-block;
  /* width: 70px; */
  background-color: #ff7745;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px 10px;
  text-decoration: none;
  /* margin-left: 10px; */
}

.next-prev {
  background-color: #ff7745;
  /* Green */
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

/* Style the previous and next buttons */
.pages {
  background: none;
  color: inherit;
  border: none;
  padding: 3;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Style the active button */
.active {
  color: #b4b4b4;
}