form {
  padding: 20px;
  width: 320px;
  margin: 0 auto;
}

input {
  background-color: #d6d6d6c7;
  border-radius: 10px;
  border: 0;
  color: rgb(17, 17, 17);
  font-size: 14px;
  height: 100%;
  outline: 0;
  padding: 10px 20px 10px;
  width: 100%;
  margin-bottom: 10px;
}

.search-form {
  width: 100%;
}

.flex-form {
  display: flex;
}

.search-bike {
  width: 30%;
  float: left;
}

legend {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.pricing-container {
  width: 40%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  padding: 1em;
  color: black;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  justify-content: center;
}

.pricing-form {
  margin: 0 auto;
}

.form-container {
  width: 30%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  padding: 1em;
  color: black;
  border-radius: 10px;
  margin-top: 30px;
}

.search-form-input {
  width: 50%;
  margin-right: 5px;
  background-color: #fbfbfbe4;
}