.search-form {
  width: 100%;
}

.flex-form {
  display: flex;
}

.search-bike {
  width: 30%;
  float: left;
}

legend {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
