.search-form {
  width: 100%;
}

.flex-form {
  display: flex;
}

.search-bike {
  width: 30%;
  float: left;
}

legend {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.pricing-container {
  width: 40%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.837);
  padding: 1em;
  color: black;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  justify-content: center;
}

.pricing-form {
  margin: 0 auto;
}
