.topnav {
  /* float: left; */
  padding: 14px 16px;
  font-size: 24px;
  text-align: left;
  background-color: #000000;
}

.topnav-right {
  float: right;
  padding: 14px 16px;
  font-size: 18px;
}

.topnav-right a {
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  cursor: pointer;
  /* font-weight: bolder; */
}

.topnav-right a:hover {
  opacity: 0.7;
  transition: 0.3 ease;
}

.home-link {
  color: #fff;
}

.login-link {
  color: #ff7745;
}
