.topnav {
    /* float: left; */
    padding: 14px 16px;
    font-size: 24px;
    text-align: left;
}


.topnav-right {
    float: right;
    padding: 14px 16px;
    font-size: 24px;
}

.topnav-right a {
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-weight: bolder;
    /* color: #fff; */
}

.topnav-right a:hover {
    opacity: 0.7;
    transition: 0.3 ease;
}

.home-link {
    color: #fff;
}

.login-link {
    color: #ff7745;
}